.marqueesocial {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.marqueesocial div {
  display: flex;
  position: absolute;
  width: 400%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: scroll 18s linear infinite;
  -webkit-animation: scroll 25s linear infinite;
}
.marqueesocial div img {
  height: 3rem;
  margin: 20px;
}





@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}